<div style="display:block ; background-color: black;border: 1px solid rgb(201, 70, 70); height: 200px;">
<div style="color:rgb(196, 239, 42);display: inline-block;float:left;padding-left: 20px;"><h2 >About Us</h2><br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br> Quisquam pariatur repellendus exercitationem </div>
<div style="color:rgb(196, 239, 42);display: inline-block;float:right;padding-right: 20px;"><h2 >Contact Us</h2><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Dolor unde in, tempore ad quidem doloribus.</div>
</div>
