<h1>Placements</h1><br><br>
<div style="display:block ;">
    <div style="display:inline-block ;"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmtzcJGqa3II7FVTvtePL6zY7ArO4t5fK1atsB9kZS_ZrWTwbdidRqvhSxRWM54EFiUGk&usqp=CAU" alt="" style="width:400px;height:200px">&nbsp;&nbsp;
       <br> <h3 align="center">name</h3></div>
       <div style="display:inline-block ;"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmtzcJGqa3II7FVTvtePL6zY7ArO4t5fK1atsB9kZS_ZrWTwbdidRqvhSxRWM54EFiUGk&usqp=CAU" alt="" style="width:400px;height:200px">&nbsp;&nbsp;
        <br> <h3 align="center">name</h3></div>
        <div style="display:inline-block ;"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmtzcJGqa3II7FVTvtePL6zY7ArO4t5fK1atsB9kZS_ZrWTwbdidRqvhSxRWM54EFiUGk&usqp=CAU" alt="" style="width: 400px;height:200px">
            <br> <h3 align="center">name</h3></div>  
</div>
