<div style="background-color:rgb(129, 129, 243) ;float: right;width: 100%;">
    <h1 style="padding-left:30px ;float:left">Baabtra.com</h1>
<div style="display:block ;font-size: large;float:right;">
    <ul style="display:inline-block; padding-right: 100px; ">&nbsp;&nbsp;
    <li style="display:inline-block;"><a href="">Home</a></li>&nbsp;&nbsp;
    <li style="display:inline-block;"><a href="">Contact</a></li>&nbsp;&nbsp;
    <li style="display:inline-block;"><a href="">About</a></li>
    </ul>
    <br><br>
</div>
</div>