<h1>courses</h1>
<div style="display:inline-block;">
    <div style="width: 450px;height:50px;display:inline-block;"><h3><a href="">Course1</a><br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, libero.</h3></div>&nbsp;&nbsp;
    <div style="width: 450px;height:50px;display:inline-block;"><h3><a href="">Course1</a><br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, libero.</h3></div>&nbsp;&nbsp;
    <div style="width: 450px;height:50px;display:inline-block;"><h3><a href="">Course1</a><br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, libero.</h3></div>
</div>
